script(src='/admin-lte/plugins/jquery/jquery.min.js')
// Bootstrap
script(src='/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js')
// AdminLTE
script(src='/admin-lte/dist/js/adminlte.js')
// OPTIONAL SCRIPTS
script(src='/admin-lte/plugins/chart.js/Chart.min.js')
// AdminLTE for demo purposes
script(src='/admin-lte/dist/js/demo.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='/admin-lte/dist/js/pages/dashboard3.js')
// link added from documantation
script(src='https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js')
// Adminlte minified js
script(src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/js/OverlayScrollbars.min.js')
// Overlayscrollbars
