doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title AdminLTE 3 | Starter
		// Overlayscroll
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/css/OverlayScrollbars.min.css')
		// bootstrap css
		link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
		// Google Font: Source Sans Pro
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback')
		// Font Awesome Icons
		link(rel='stylesheet' href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
		//link(rel='stylesheet' href='admin-lte/plugins/fontawesome-free/css/all.min.css')
		// Theme style
		//link(rel='stylesheet' href='admin-lte/dist/css/adminlte.min.css')
		//link(rel='stylesheet' href='admin-lte/build/scss/adminlte.css')
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css')
		// jQuery
		script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
		// Overlayscrollbars
		script(src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/js/OverlayScrollbars.min.js')


	body.hold-transition.sidebar-mini.dark-mode.layout-fixed.layout-navbar-fixed(style="os-padding { z-index: auto; }")
		.wrapper
			include navigation.pug
			include sidebar.pug
			include control-sidebar.pug
			block content
			include footer.pug
		