// Main Sidebar Container
aside.main-sidebar.sidebar-dark-primary.elevation-4
	// Brand Logo
	a.brand-link.logo-switch(href='')
		img.brand-image(src='/img/image_8.svg' alt='Logo' class="brand-image-xs logo-xl" style="left: 50px")
		img.brand-image-xl.logo-xs(src='/img/image_9.svg' alt='AdminLTE Docs Logo Small')
		span.brand-text.font-weight-bold &nbsp;
	// Sidebar
	.sidebar
		// Sidebar user panel (optional)
		.user-panel.mt-3.pb-3.mb-3.d-flex
			.image
				if user.profile.picture
					img(src=user.profile.picture)
				else
					img(src=user.gravatar(60))
			.info
				a.d-block(href='#') #{user.profile.name || user.email || user.id}
		// SidebarSearch Form
		//.form-inline
			.input-group(data-widget='sidebar-search')
				input.form-control.form-control-sidebar(type='search' placeholder='Search' aria-label='Search')
				.input-group-append
					button.btn.btn-sidebar
						i.fas.fa-search.fa-fw
		// Sidebar Menu
		nav.mt-2
			ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
				li.nav-item
					a.nav-link.active(href='/Dashboard')
						i.nav-icon.fas.fa-tachometer
						p
							| Dashboard
							span.right.badge.badge-danger

				li.nav-item
					a.nav-link(href='/')
						i.nav-icon.fas.fa-home
						p
							| Home
							span.right.badge.badge-danger

				li.nav-item
					a.nav-link(href='/contact')
						i.nav-icon.fas.fa-id-card-alt
						p
							| Contact US
							span.right.badge.badge-danger
				
				li.nav-item
					a.nav-link(href='/account')
						i.nav-icon.fas.fa-user
						p
							| Account
							span.right.badge.badge-danger

				li.nav-item
					a.nav-link(href='/logout')
						i.nav-icon.fas.fa-sign-out-alt
						p
							| Logout

		// /.sidebar-menu
	// /.sidebar
